{% extends 'base.html.twig' %}

{% block title %}Asset index{% endblock %}

{% block body %}
    <h1>Asset index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr>
                <td>{{ asset.id }}</td>
                <td>{{ asset.name }}</td>
                <td>
                    <a href="{{ path('asset_show', {'id': asset.id}) }}">show</a>
                    <a href="{{ path('asset_edit', {'id': asset.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('asset_new') }}">Create new</a>
{% endblock %}
